.topnav-header{
    display: flex;
    
}
.language-select-dropdown{
    margin-left: 20%;
    margin-right: 5%;
}
.language-select-dropdown a{
    text-decoration: none;
    color: black;
}
.currency-select-dropdown a{
    text-decoration: none;
    color: black;
}
.myprofie{
    margin-left: 35%;
    margin-right: 5%;
}
.search-icon{
    margin-left: 7%
}
.topnav-divider{
    background-color: #d7d7df;
}
.header-logo-text{
    color:#FF4252;
    font-weight: 700;
    margin: 0% 0% 1% 40% ;
    display: inline-block;
}
.navbar-item{
    display: flex;
    margin-left: 20%;
    margin-bottom: 3%;
}
.nav-item-list{
    list-style: none;
    margin-left: 5%;
}
.nav-item-list a{
    text-decoration: none;
   color: black;
}
.nav-item-list a:active{
    color: #2E90E5;
}
.sub-navbar{
    height: 250px;
     margin-left: 18%;
     width: 65%;
    background-color: white;
   display: none;
    z-index: 5;
   margin-top: -25px;
   box-shadow: 2px 2px 2px 2px gray;
}
.sub-navbar-toggle{
    display: block;
    
}
.subnavbar-container{
    display: flex;
    margin-top: 20px;
    
}
.subnavbar-list{
    list-style: none;
    margin-top: 10px;
}
.subnavbar-list-heading{
    color: gray;
}